<IfModule mod_rewrite.c>
    RewriteEngine On

    # توجيه كل الطلبات إلى مجلد public (جعل public هو الروت الفعلي)
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
